/* Default styles (Desktop) */
.App {
  text-align: center;
  background-color: #161617;
  color: rgba(240, 248, 255, 0.53);
}
html{
  scroll-behavior: smooth;
}
.main-content {
  /* margin: 0; */
  padding: 0;
  min-height: 100vh;

  
}
.anim {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.anim.show {
  opacity: 1;
  transform: translateY(0);
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background-color: #161617;
  color: rgba(240, 248, 255, 0.53);
  /* top: 0;
  position: absolute; */
}
#home {
  position: relative;
  min-height: 100vh;
  background-image: url('../public/background_image.png'); /* from public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Faded overlay */
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 31, 31, 0.022); /* White overlay, 50% transparent */
  z-index: 1;
}

/* Put your actual content above the faded overlay */
#home > * {
  position: relative;
  z-index: 2;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Include padding as part of height */
  background-color: #333;
  z-index: 1000;
}
.some {
  border-radius: 50%;
  margin: auto;
  margin-top: 100px;
  object-fit: cover;
  display: block;
  float: center;
  width: 250px;
  height: 250px;
  color: rgba(240, 248, 255, 0.53);

}


.intro {
  /* margin-left: 200px; */
  margin-right: 100px;
  padding-left: 3%;
  margin-top: 300px;
  align-items: center;
  height: auto;
  color: rgba(252, 240, 216, 0.945);
  
}

h1 {
  display: inline-block;
  font-size: 50px;
  font-family: Arial, sans-serif;
}

.intro1 {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: large;
  color: rgba(252, 240, 216, 0.945);
}

.bottom-line {
  width: 100%;
  height: 5px;
  background-color: burlywood;
  position: fixed;
  bottom: 0;
  left: 0;
}

ul {
  list-style-type: none;
  /* margin-top: -0.6%; */
  overflow: hidden;
  background-color: #333;
  margin-left: -7px;
}

li {
  display: inline-block;
  margin-left: -10%;
  margin-right: 10%;
  font-size: large;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  /* background-color: #111; */
  color: rgb(255, 132, 0);
  
  
}

.beige {
  color: rgb(245, 181, 64);
}

.cv {
  background-color:rgb(255, 132, 0);
  transition: 0.3s;
  font-size: large;
  color: black;
  border-color: black;
  border-radius: 5px;
  width: 20%;
  height: 50px;
  text-decoration: none;
}

.cv:hover {
  color: wheat;
}

h2 {
  font-size: 350%;
  margin: 50px;
  margin-left: 15%;
  color: rgba(240, 248, 255, 0.53);
}

.phone {
  font-size: 120%;
  margin-bottom: 10px;
  margin-left: 15%;
  size: 10%;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.connect {
  padding-top: 2%;
}

.mobile-number {
  word-spacing: normal;
}

.social {
  text-decoration: none;
  font-size: 180%;
  margin-left: 15%;
  margin-top: 3%;
  margin-bottom: 0%;
}

.social-link {
  text-decoration: none;
  font-size: 180%;
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 0%;
}
#about{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.about {
  overflow: scroll;
  scroll-behavior: smooth;
  color: rgba(240, 248, 255, 0.53);
}

.about1 {
  transform: rotate(0deg) scale(1) translateY(10px);
  border-color: white;
  border-width: 30px;
  border-radius: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  height: 50%;
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  color: rgba(240, 248, 255, 0.53);
}

.aboutheader {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  /* color: rgba(252, 240, 216, 0.945); */
  color: rgba(255, 255, 255, 0.875);
  margin-left: 0;
}
.aboutheader1 {
  display: inline-block;
  font-size: xx-large;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-left: 5%;
  text-align: center;
  color: rgba(252, 240, 216, 0.945);
}

.summary {
  padding-top: 0%;
  padding-left: 7%;
  padding-right: 7%;
  font-size: x-large;
  /* color: rgba(252, 240, 216, 0.768); */
  color: rgba(240, 248, 255, 0.53);
  /* gap: 10%; */
}
.tech-tools-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 5%;
  padding: 5% 0%;
  color: rgba(240, 248, 255, 0.53);
  flex-wrap: wrap;
}

.image-container img {
  /* max-width: 400px; */
  height: 600px;
  width: 470px;
  border-radius: 15px;
  margin-right: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.tech-details {
  flex: 1;
  min-width: 300px;
}

.tech-title {
  font-size: 2.5rem;
  /* color: rgba(252, 240, 216, 0.945); */
  color: rgba(255, 255, 255, 0.875);
  margin-bottom: 50px;
}

.tech-category {
  margin-bottom: 0px;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.tech-category:hover{
  background-color: rgba(255, 255, 255, 0.05); /* subtle transparent white overlay */
  cursor: pointer;
  border-radius: 10px;
}

.tech-category h3 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.875);
  margin-bottom: 0;
  margin-top: 0;
}

.tech-category p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(240, 248, 255, 0.53);
}

.education {
  font-size: xx-large;
  padding-top: 3%;
  text-align: center;
  color: rgba(240, 248, 255, 0.53);
}

span {
  word-spacing: 0px;
}

.education-certifications {
  color: #d1d5db; /* light gray text */
  /* padding: 60px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers everything horizontally */
}
.edu-with-logo {
  display: flex;
  align-items: center;
  justify-content: center; /* centers logo + text together */
  gap: 25px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* keeps text aligned nicely */
}

.edu-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
}


.section-title {
  font-size: 2.5rem;
  /* font-weight: bold; */
  color: rgba(255, 255, 255, 0.875);
  margin-bottom: 40px;
  margin-left: 0;
}

.edu-cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 40px;
  margin-left: 20px;
  width: 75%;
  margin: 0 auto;
}

.edu-cert-item {
  text-align: left;
  width: 100%;
}

.edu-cert-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.752);
  margin-bottom: 0px;
}

.edu-cert-item p {
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(240, 248, 255, 0.53);
}
.edu-with-logo > div {
  flex: 1;   /* 👈 THIS fixes shrinking */
}
.cert-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap; /* allows stacking on mobile */
}

.cert-item {
  transition: transform 0.3s ease;
}

.cert-badge {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.cert-item:hover {
  transform: scale(1.1);
}


.cert-link {
  display: inline-block;
}

.github-calendar-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px;
  background: #1f1f1f;
  border-radius: 20px;
  border: 1px solid #2e2e2e;   /* subtle border */
  box-shadow: 0 8px 20px rgba(178, 173, 173, 0.25);
  overflow-x: auto;
}

/* Projects.css */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.project-card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #2c2c2c;
}
.projects-section {
  margin: 30px;
  padding: 40px 20px;
  width: 90%;
  margin: 0 auto;
}

.section-title {
  color: rgba(255, 255, 255, 0.875);
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 60px;
}

.project-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: scale(1.02);
}

.project-img {
  width: 220px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.875);
  margin-bottom: 5px;
}

.project-desc {
  font-size: 1rem;
  color: #ccc;
}
/* contact */
#contact-section{
  color: white;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}
.space{
  padding-bottom: 100px;
}
.contact-title {
  color: rgba(255, 255, 255, 0.875);
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 0;
}
.contact-info {
  display: flex;
  flex-direction: column;
}

#contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 90%;
  margin-left: auto;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact-icon {
  background-color: #f97316;
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.contact-label {
  font-size: 1rem;
  color: #9ca3af;
  margin: 0;
}
.contact-link {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  color: white;
  padding-top: 0;
  margin-top: 0;
}
.contact-value {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: underline;
}


@media (max-width: 500px) {
  html {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    outline: 1px solid red;
    scroll-behavior: smooth;
  }
  #root{
    overflow-x: hidden;
  }
  #home{
    width: 100%;
  }
  .navbar {
    display: flex;  /* Use Flexbox for layout */
    justify-content: flex-start;  /* Align items to the left */
    align-items: center;  /* Center items vertically within the navbar */
    position: fixed;  /* Fix the navbar at the top */
    top: 0;
    left: 0;
    width: 100%;  /*Full width*/
    height: 30px;  /* Set a fixed height */
    z-index: 1000;  /* Ensure it stays on top of other elements */
  }
  .aboutheader, .tech-title, .section-title{
    text-align: center;
    margin: 5px;
    margin-top: 50px;
    font-size: xx-large;
  }
  .tech-category h3, .edu-cert-item h3{
    font-size: large;
  }
  .tech-category {
    margin-bottom: 0;
  }
  .summary {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    /* color: rgba(240, 248, 255, 0.53); */
  }
  .image-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
  }
  .image-container img {
    width: 500px;
    height: 400px;
    margin-right: 0;
    max-width: none; /* allow full responsiveness */
  }
  ul {
    list-style-type: none;
    /* width: 100%; */
    overflow: hidden;
    background-color: #333;
    margin-top: 20px;
    
  }
  .section-title{
    margin-bottom: 30px;
  }
  .contact-grid{
    display: flex;
    flex-direction: column;
  }
  .contact-icon{
    padding: 1rem;
    font-size: 1.5rem;
  }
  .contact-link{
    font-size: 1rem;
    margin-top: 5px;
  }
  li {
    display: inline-block;
    padding-left: 10px;
    margin-right: 25px;
    font-size: large;
    
  }
  .edu-cert-grid{
    margin-left: 0;
  }
  .edu-cert-item p{
    font-size: medium;
    width: 90%;
  }
  .project-item{
    display: flex;
    flex-direction: column;
  }
  .project-img{
    width: 75%;
    margin-left: 0;
  }
  .project-title{
    margin-top: 0;
  }
  .project-desc{
    width: 75%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  

  .intro {
    margin-left: 20px;
    width: 90%;
  }
  .intro1{
    font-size: medium;
  }
  .cv {
    width: 40%;
    height: 35px
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 200%;
    margin-top: 20px;
    
  }

  .phone {
    font-size: 100%;
    margin-left: 5%;
  }

  .social, .social-link {
    font-size: 120%;
    margin-left: 5%;
  }
  .some {
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
    object-fit: cover;
    display: block;
    float: center;
    width: 200px;
    height: 200px;
    color: rgba(240, 248, 255, 0.53);
  }

  .about1 {
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
  }

  .education-details {
    display: flex;
    flex-direction: column;
    background-color: #161617;
    color: rgba(240, 248, 255, 0.53);
  }
  
  .education-text {
    padding-top: 15px;
    font-size: 1.1em;
    background-color: #161617;
    color: rgba(240, 248, 255, 0.53);
  }
  .school {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    color: rgba(240, 248, 255, 0.53);
    background-color: black;
  }
  
  
  .education-details p {
    margin-top: -5px;
    background-color: #161617;
    color: rgba(240, 248, 255, 0.53);
  }
  .about {
    overflow: scroll;
    scroll-behavior: smooth;
    color: rgba(240, 248, 255, 0.53);
  }
  
  
  
  .aboutheader1 {
    display: inline-block;
    font-size: x-large;
    text-align: center;
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgba(240, 248, 255, 0.53);
  }
  .connect {
    text-align: center;
    padding-top: 50px;
  }
  .phone {
    font-size: medium;
    margin-bottom: 10px;
    
    letter-spacing: 5px;
    
  }
  .social {
    text-decoration: none;
    font-size: 180%;
    margin-top: 3%;
    margin-bottom: 0%;
  }
  
  .social-link {
    text-decoration: none;
    font-size: 180%;
    margin-top: 1%;
    margin-bottom: 0%;
  }
  
}
@media (max-width: 400px){
  li{
    font-size: medium;
  }
  
}
@media (max-width: 350px){
  li{
    font-size: small;
    padding-left: 0;
  }
  .edu-cert-item p {
    font-size: medium;
    width: 65%;
  }
  .project-img{
    width: 60%;
  }
  .contact-link{
    font-size: 0.9rem;
  }
  .edu-cert-item h3{
    font-size: 1rem;
    width: 70%;
  }
  .project-desc{
    width: 60%;
  }
  .cv {
    width: 50%;
  }
  .intro {
    margin-top: 150px;
  }
  .image-container img {
    width: 300px;
    height: 300px;
  }
  
}
@media (max-width: 768px) {
  .edu-with-logo {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .edu-logo {
    width: 70px;
  }
  .github-calendar-wrapper {
    padding: 15px;
    width: 90%;
  }
  .edu-cert-item h3{
    margin-top: 0;
  }
  .edu-cert-item p {
    font-size: medium;
    width: 100%;
    text-align: center;
    /* margin-left: 10px; */
    padding-right: 10px;
  }
}
